
<div class="text-left menu-p">
    <div class="pv-0">

            <h4><b>交易管理</b></h4>
            <ul>
            <li><a  class="pull-left hover" href="#/order/myorder">我的订单</a></li>
            <li><a   href="#/order/clientorder">客户订单</a></li>
            <li><a  href="#/order/pickup">上门取件</a></li>
            <li><a href="#/notify/index">消息中心</a></li>
            <li><a  href="">我的积分</a></li>
            <li><a href="">我的优惠券</a></li>
            <li><a  href="">账户余额</a></li>
            <li><a  href="">售后服务</a></li>
        </ul>

    <div class="pv-10">
        <h4><b>会员中心</b></h4>

         <ul id="a">
            <li><a  href="#/personInfo/index">个人信息</a></li>
            <li><a  href="#/myel/merchant">加盟信息</a></li>
            <li><a  href="#/safety/index">安全管理</a></li>
            <li><a  href="#/address/index">地址管理</a></li>
           <li><a  href="#/customs/index">常用报关</a></li>
         </ul>

    </div>
</div>



