<div class="box" style="border:0px;" ng-controller=" permissionMenuCtrl">
<div class="box-header">
</div>
<div class="box-body">
    <div class="col-md-6 col-md-offset-3">
        <aside class="main-sidebar" style="position: relative; min-width: 300px;padding-top: 10px">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">
                        <div style="display: inline">
                            <button type="button" class="btn btn-link" title="添加根节点"
                                    ng-click="add();$event.stopPropagation();">
                                <i class="fa fa-plus"> </i>
                            </button>
                        </div>
                    </li>
                    <li ng-repeat="root in menus" ng-class="{true: 'treeview', false: ''}[root.hasChild]">
                        <a href="javascript:void(0)">
                            <i class="{{root.icon}}"></i>
                            <span ng-bind="root.name"></span>
                            <i class="fa fa-angle-left"></i>

                            <div class="inline"
                                 style="position:absolute;right: 10px; top: 0px;">
                                <button type="button" class="btn btn-link" title="添加"
                                        ng-click="add(root,null);$event.stopPropagation();">
                                    <i class="fa fa-plus"> </i>
                                </button>
                                <button type="button" class="btn btn-link" title="编辑"
                                        ng-click="edit(root,null);$event.stopPropagation();">
                                    <i class="fa fa-edit"> </i>
                                </button>
                                <button type="button" class="btn btn-link" title="删除"
                                        ng-click="del(root);$event.stopPropagation();">
                                    <i class="fa  fa-times"> </i>
                                </button>
                            </div>
                        </a>


                        <ul ng-if="root.hasChild" class="treeview-menu">
                            <li ng-repeat="item in root.children track by $index">
                                <a href="javascript:void(0)">
                                    <i class="{{item.icon}}"></i> <span ng-bind="item.name"></span>

                                    <div class="inline"
                                         style="position:absolute;right: 10px; top: 0px;">
                                        <button type="button" class="btn btn-link" title="编辑"
                                                ng-click="edit(item,root);$event.stopPropagation();">
                                            <i class="fa fa-edit"> </i>
                                        </button>
                                        <button type="button" class="btn btn-link" title="删除"
                                                ng-click="del(item);$event.stopPropagation();">
                                            <i class="fa fa-times"> </i>
                                        </button>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
    </div>
</div>
</div>