<div class="col-md-10 col-md-offset-1" ng-controller="userQqconsultCtrl"
      style="margin-top:60px;padding:50px;box-shadow: 0px 0px 35px #ccc;">
   <!-- <div class="row text-center"><span class="btn btn-primary btn-lg">QQ在线资讯</span></div>-->
    <div class="mt-40" ng-repeat="parent in parents">
        <div class="row font-14">{{parent.name}}</div>
        <div class="row mt-20">
            <div class="col-md-2" ng-repeat="item in parent.subclass" style="padding:0;">
                <a class="relationqq" href="" ng-click="changeUrl(item,$index)">
                    <img src="http://wpa.qq.com/pa?p=2:1910301706:47">
                     <span  ng-bind="item.name"></span>
                </a>
            </div>
        </div>
        <hr>
    </div>
</div>