<div class="container-fluid">
    <div class="row mv-10">
        <div class="col-md-11 text-center">
            <h3 class="font-14"><strong>订单详情</strong></h3>
        </div>
        <div class="col-md-1 text-right">
            <i class="fa fa-close cursor-hand pv-10 ph-10" ng-click="cancel()"> </i>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col-md-12">
            <div class="row pv-10">
                <div class="col-md-4">
                    <span>订单编号：</span>
                    <strong class="font-red pl-15" ng-bind="order.code">包裹</strong>
                </div>
                <div class="col-md-2">
                    <span>物品类型：</span>
                    <strong class="font-red pl-15">包裹</strong>
                </div>
                <div class="col-md-2">
                    <span>重量：</span>
                    <strong class="font-red pl-15" ng-bind="order.weight+' KG'"></strong>
                </div>
                <div class="col-md-4">
                    <span>渠道：</span>
                    <strong class="font-red pl-15" ng-bind="order.transportWayCName"></strong>
                </div>
            </div>
            <div class="row pv-10">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 pv-10">
                        <span ng-bind="order.from.name">
                        </span>
                            <abbr class="ml-15" title="电话号码"><i class="fa fa-phone"> </i> </abbr>
                            <span ng-bind="order.from.tel"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pv-10">
                            <span ng-bind="order.from.address"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pv-10">
                            <span ng-bind="order.from.zip"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mv-30">
                    <i class="fa fa-arrow-right font-14"> </i>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 pv-10">
                        <span ng-bind="order.to.name">
                        </span>
                            <abbr class="ml-15" title="电话号码"><i class="fa fa-phone"> </i> </abbr>
                            <span ng-bind="order.to.tel"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pv-10">
                            <span ng-bind="order.to.address"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pv-10">
                            <span ng-bind="order.to.zip"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pv-10 pl-15">
                <strong> 海关申报信息</strong>
            </div>
            <div class="row pv-10 pl-15 text-left">
                <div class="col-md-1 no-padding text-right">
                    <span>物品类别：</span>
                </div>
                <div class="col-md-2">
                    <span ng-bind="order.customsInfo.goodsType"></span>
                </div>
                <div class="col-md-1 no-padding text-right">
                    <span>英文名：</span>
                </div>
                <div class="col-md-2">
                    <span ng-bind="order.customsInfo.englishName"></span>
                </div>
                <div class="col-md-1 no-padding text-right">
                    <span>中文名：</span>
                </div>
                <div class="col-md-2">
                    <span ng-bind="order.customsInfo.chineseName"></span>
                </div>
                <div class="col-md-1 no-padding text-right">
                    <span>总净重： </span>
                </div>
                <div class="col-md-2">
                    <span ng-bind="order.customsInfo.weight"></span>
                </div>
            </div>
            <div class="row pl-15 pv-10 text-left">
                <div class="col-md-1 no-padding text-right">
                    <span>申报数量：</span>
                </div>
                <div class="col-md-2">
                    <span ng-bind="order.customsInfo.number"></span>
                </div>
                <div class="col-md-1 no-padding text-right">
                    <span> 单位：</span>
                </div>
                <div class="col-md-2">
                    <span ng-bind="order.customsInfo.unit"></span>
                </div>
                <div class="col-md-1 no-padding text-right">
                    <span>申报单价：</span>
                </div>
                <div class="col-md-2">
                    <span ng-bind="order.customsInfo.price"></span>
                </div>
                <div class="col-md-1 no-padding text-right">
                    <span>海关编号：</span>
                </div>
                <div class="col-md-2">
                    <span ng-bind="order.customsInfo.code"></span>
                </div>
            </div>
            <div class="row pl-15 pv-10 text-left">
                <div class="col-md-1 no-padding text-right">
                    <span> 留言：</span>
                </div>
                <div class="col-md-7">
                    <span ng-bind="order.message"></span>
                </div>
            </div>
            <div class="row mv-15 text-center">
                <button type="button" class="btn bg-navy" ng-click="cancel()">
                    <i class="fa fa-close"> </i> 关闭
                </button>
            </div>
        </div>
    </div>
</div>