<div ng-controller="quoteSearchCtrl" class="padding-15">
    <hls-country hls-data="countryData" hls-class="form-control input-lg"
                 hls-placeholder="请选择目的地，例如：美国"></hls-country>
    <div class="row pt-20 no-margin">
        <input type="text" ng-model="weight" class="form-control input-lg " placeholder="请输入重量（kg），例如：0.5">
    </div>
    <div class="row  pt-20 no-margin">
        <button type="button" class="btn btn-lg btn-warning btn-block" ng-click="gotoList()">查价下单</button>
    </div>
    <div class="row  pt-20 no-margin">
        <div class="col-md-6 column">
            <img class="img-rounded" src="img/93myb_wx_barcode.png"/>
        </div>
        <div class="col-md-6 column">
            <img class="img-rounded" src="img/93myb_wx_barcode.png"/>
        </div>
    </div>
    <div class="row  pt-20 no-margin"><p class="padding-15 font-gray"> 关注二维码，手机下单查价更方便</p></div>
    </form>
</div>