<div class="box box-info" style="border:0">
    <div class="box-header with-border text-center" style="background-color: #E8E8E8">
        <h3 class="box-title"><b> 加盟审核------企业</b></h3>
        <i style="cursor:pointer" class="fa fa-close pull-right" ng-click="cancel()"></i>
    </div>
    <div class="box-body">
        <div class="col-md-3">
            <dl>
                <dt class="pv-10">公司名称:</dt>
                <dd ng-bind="merchant.companyName"></dd>

                <dt class="pv-10">公司类型:</dt>
                <dd ng-bind="merchant.companyType"></dd>

                <dt class="pv-10">法人代表:</dt>
                <dd ng-bind="merchant.leader"></dd>

                <dt class="pv-10">公司规模:</dt>
                <dd ng-bind="merchant.companyScale"></dd>

                <dt class="pv-10">注册帐号:</dt>
                <dd ng-bind="merchant.username"></dd>

                <dt class="pv-10">申请人:</dt>
                <dd ng-bind="merchant.applyUser"></dd>

                <dt class="pv-10">申请人职位:</dt>
                <dd ng-bind="merchant.applyUserOffice"></dd>

                <dt class="pv-10">联系电话:</dt>
                <dd ng-bind="merchant.telphone"></dd>

                <dt class="pv-10">成立时间:</dt>
                <dd ng-bind="merchant.CompanyTime"></dd>

                <dt class="pv-10">联系地址:</dt>
                <dd ng-bind="getAddress()"></dd>
            </dl>
        </div>
        <div class="col-md-9 text-center">
            <dt>证件(点击可查看大图)</dt>
            <p ng-repeat="item in merchant.images track by $index">
                <img width="500px" class="cursor-hand padding-15" title="点击查看大图"
                     ng-src="{{getImage(item)}}" ng-click="openImage(item)">

                <span style="padding: 20px;display: block;" ng-bind="'图  '+($index+1)"></span>
            </p>
        </div>
    </div>
    <div class="box-footer text-center">
        <button ng-if="merchant.state==0" type="button" class="btn btn-success" ng-click="submitForm(1)">
            <i class="fa fa-check"> </i> 审核通过
        </button>
        <button type="button" ng-if="merchant.state==0" class="btn btn-danger" ng-click="submitForm(2)">
            <i class="fa fa-close"> </i> 拒绝
        </button>
        <button type="button" class="btn bg-navy" ng-click="cancel()">
            <i class="fa fa-close"> </i> 关闭
        </button>
    </div>
</div>