<div class="container">
    <div class="row pv-15">
        <div class="col-md-8">
            <dl class="col-md-2 pl-0 text-left">
                <dt><a href="#">寄件查询</a></dt>
                <dd><a href="#">上门收件</a></dd>
                <dd><a href="#">货物查询</a></dd>
                <dd><a href="#">运费查询</a></dd>
                <dd><a href="#">网点查询</a></dd>
            </dl>
            <dl class="col-md-2 text-left">
                <dt><a href="#">会员体系</a></dt>
                <dd><a href="#">个人会员</a></dd>
                <dd><a href="#">会员积分</a></dd>
                <dd><a href="#">会员用途 </a></dd>
            </dl>
            <dl class="col-md-2 text-left">
                <dt><a href="#">信息中心</a></dt>
                <dd><a href="#">新闻资讯</a></dd>
                <dd><a href="#">易联公告</a></dd>
            </dl>
            <dl class="col-md-2 text-left">
                <dt><a href="#">帮助中心</a></dt>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">意见反馈</a></dd>
            </dl>
            <dl class="col-md-2 text-left">
                <dt><a href="#">关于易联</a></dt>
                <dd><a href="#">了解易联</a></dd>
                <dd><a href="#">加入易联</a></dd>
                <dd><a href="#">联系我们</a></dd>
            </dl>
            <dl class="col-md-2 text-left">
                <dt><a href="#">物流商盟</a></dt>
                <dd><a href="#">公司申请</a></dd>
                <dd><a href="#">个人申请</a></dd>
            </dl>
        </div>
        <div class="col-md-4 text-center">
            <ul>
                <li><a href="#"><img src="img/footer-contact-icon_ef4928b5.png"></a></li>
                <li>服务热线</li>
                <li><h4 class="font-orange">0755-36601415</h4></li>
                <li>周一到周五9：00-18：00</li>
            </ul>
        </div>
    </div>
    <div class="row text-center pb-20">
        <p>
            <small>
                Copyright &copy;2013-2016 &emsp;www.e156.com 易联速递-国际物流商城 &emsp;©粤ICP备13010532号-1 CPowerSoft
                Inc.版权所有.
            </small>
        </p>
    </div>
</div>