<div class="text-left">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container font-16">
            <ul class="nav navbar-nav" role="menu">
                <li><a href="#/home/index">首页</a></li>
                <li><a href="#/quote/list">查价下单</a></li>
                <li><a href="#/order/index">运单追踪</a></li>
                <li><a href="#/pickup/index">上门取件</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">物流商盟 <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/merchants/company">公司申请</a></li>
                        <li><a href="#/merchants/personal">个人申请</a></li>
                        <li><a href="/index/map.html" target="_blank">查看物流点</a></li>
                    </ul>
                </li>
                <li><a href="#/news/index">新闻资讯</a></li>
                <li><a href="#/about/index">关于易联</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">测试 <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/test/city&country">城市选择</a></li>
                        <li><a href="#/test/datetimepicker">日历控件</a></li>
                        <li><a href="#/test/formvalidate">表单验证</a></li>
                        <li><a href="#/test/page">分页控件</a></li>
                        <li><a href="#/test/dialog">弹出框</a></li>
                        <li><a href="#/test/index">跳转 传参 </a></li>
                        <li><a href=" #/test/hlsInclude">hls 布局页</a></li>
                        <li><a href=" #/test/grid">hls表格</a></li>
                        <li><a href=" #/test/storage">本地存储</a></li>
                        <li><a href="#/test/summernote">summerNote</a></li>
                        <li><a href="#/test/fileinput">上传控件</a></li>
                        <li><a href="#/test/fileupload">上传功能</a></li>
                        <li><a href="#/test/tab">hls 模拟列表 Tab</a></li>
                        <li><a href="/index/baidu.html">百度地图API</a></li>
                    </ul>
                </li>
            </ul>
            <!--<form class="navbar-form pull-right" role="search">-->
            <!--<div class="input-group ">-->
            <!--<input type="text" class="form-control " placeholder="输入运单号可查询"/>-->
            <!--<div class="input-group-btn">-->
            <!--<button type="button" class="btn btn-default" ng-click="">-->
            <!--<span class="glyphicon glyphicon-search text-info" aria-hidden="true"></span>-->
            <!--<span> 查询</span>-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</form>-->
        </div>
    </nav>
</div>