<section ng-controller="yilianIntroCtrl">
    <br/><br/>
    <hr>
    <form class="form-horizontal" name="addorChannelForm">

        <div class="form-group">
            <label for="title" class="col-md-2 control-label">文章标题</label>

            <div class="col-sm-8">
                <input type="input" class="form-control" id="title" name="title" placeholder="请输入文章标题" required
                       ng-model="news.title" requiredmsg="请输入文章标题" dir-directive-ext>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">文章内容</label>

            <div class="col-sm-8">
                <div id="ueditor" class="ueditor" ng-model="news.content"></div>
            </div>
        </div>

        <div class="text-center mt-30">
            <button type="button" class="btn btn-info"
                    ng-click="submitForm(addorChannelForm.$invalid)">
                <i class="fa fa-check"> </i> 保存
            </button>
            <button type="reset" class="btn btn-default ml-30">
                <i class="fa fa-repeat"> </i> 重置
            </button>
        </div>
    </form>
</section>
