<div class="container" ng-controller="orderSuccessCtrl">
    <div class="row mv-20">
        <div class="col-md-8 col-md-offset-2 font-13">
            <h3 class="font-orange">
                <i class="fa fa-check"> </i>
                <span class="font-20 font-bold" ng-bind="title"></span>
            </h3>
            <h4 ng-bind="message"></h4>
            <div class="pv-20">
                <button class="btn btn-warning" ng-click="back()">
                    <i class="fa fa-back"></i>
                    返回首页
                </button>
            </div>
        </div>
    </div>
</div>