<div class="myel">
    <div class="nav-title">
        所在位置 -
        <a href="#/myel/index" class="font-gray">我的易联</a> -
        <a href="#/safety/index" class="font-gray">安全管理</a> -
        <span class="font-orange">验证邮箱</span>
    </div>
    <div class="row mt-20">
        <div class="col-md-2">
            <hls-include url="'views/myel/menu.html'"/>
        </div>
        <div class="col-md-9 ml-20 font-13">
            <ul class="clearfix">
                <li class="rectangle bg-f5">身份验证</li>
                <li class="triangle-f5"></li>
                <li class="jag"></li>
                <li class="rectangle bg-f5">验证邮箱</li>
                <li class="triangle-f5"></li>
                <li class="jag-pink"></li>
                <li class="rectangle bg-pink"><span class="font-orange">完成</span></li>
                <li class="triangle"></li>
            </ul>
            <div class="border-ccc padding-30 text-center">
                <h3 class="font-orange">恭喜您，验证信息已发送至您的邮箱！</h3>
                <h4 class="font-orange">24小时内有效</h4>
                <p>
                    <span>请按照提示完成邮箱认证</span>
                </p>
                <!--<div class="clearfix">-->
                <!--<span class="safety">目前安全级别： 低&emsp;</span>-->
                <!--<span class="safety safety-block bg-red"></span>-->
                <!--<span class="safety safety-block bg-red"></span>-->
                <!--<span class="safety safety-block"></span>-->
                <!--<span class="safety safety-block"></span>-->
                <!--</div>-->
                <p class="mt-10">
                    <a href="#/safety/index">继续</a>完善信息确保更安全！
                </p>
            </div>
        </div>
    </div>
</div>