<div class="padding-10" ng-controller="newsIndexCtrl">
    <div class="row mb-30">
        <div class="col-md-4 col-md-offset-3">
            <input class="form-control" type="text" ng-model="classify">
        </div>
        <div class="col-md-1">
            <a class="btn btn-info"  ng-click="addProduct()" >
                <span ng-bind="classifyBtn"></span>
            </a>
        </div>
        <div class="col-md-1">
            <span class="btn btn-default" ng-click="cancel()">取消</span>
        </div>
    </div>
    <div>
        <hls-grid grid-options="gridOptions"></hls-grid>
    </div>
    <div>
        <hls-pagination total-items="totalItems" ng-model="currentPage" class="pagination-sm"
                        page-size="pageSize" ng-change="pageChange()"></hls-pagination>
    </div>
</div>