<div class="container" ng-controller="homeFooterCtrl">
    <div class="row pv-15 ml-30 mt-35">
        <div class="col-md-8 mt-20">
            <dl class="col-md-2 pl-0 text-left foot-link" ng-repeat="parent in parents">
                <dt ng-bind="parent.name"></dt>
                <dd ng-repeat="child in parent.subclass" ng-click="godetails(child._id.$id)">
                    <span ng-bind="child.name"></span>
                </dd>
            </dl>
            <dl class="col-md-2 pl-0 text-left foot-link">
                <dt>公司服务</dt>
                <dd><a href="http://kd.szice.net:8086/xms/admin" target="_blank">员工登录</a></dd>
                <dd><a href="http://mail.szice.net/" target="_blank">邮箱登录</a></dd>
                <dd><a href="http://115.29.167.188:8086/xms/admin/" target="_blank">义乌员工登录</a></dd>
            </dl>
        </div>
        <div class="col-md-3 text-center">
            <ul>
                <li><a href="#"><img src="img/footer-contact-icon_ef4928b5.png"></a></li>
                <li>服务热线</li>
                <li><h4 class="font-orange">400-0755-556</h4></li>
                <li>周一到周五9：00-18：00</li>
            </ul>
        </div>
    </div>
    <div class="row text-center pb-20">
        <p>
            <small>
                Copyright &copy;2013-2016 &emsp;www.e156.com 易联速递-国际物流商城 &emsp;©粤ICP备13010532号-1 CPowerSoft
                Inc.版权所有.
            </small>
        </p>
    </div>
</div>