
.hlsAreaPanel {
    width: 460px;
    text-align: center;
    font-family: Microsoft YaHei;
    color: orange;
    /*font-family: SimHei;*/
}

.hlsAreaPanel ul {
    margin: 0;
}

.hlsAreaPanel ul li {
    padding: 1px 1px;
}

.hlsAreaPanel span {
    cursor: pointer;
    padding: 2px 10px;
}

.hlsAreaPanel span:hover {
    color: white;
    background-color: #ff8041;
    font-weight: 300;
}

.hlsAreaTabActive {
    color: white;
    background-color: #ff8041;
    font-weight: 200;
    border-bottom: 1px solid orange;
}

.hlsAreaTab {
    padding: 10px 2px;
}

.hlsAreaAction {
    color: white;
    background-color: #ff8041;
    font-weight: 200;
}

/* Dialogs */
.dialog-header-error {
    background-color: #d2322d;
}

.dialog-header-wait {
    background-color: #428bca;
}

.dialog-header-notify {
    background-color: #eeeeee;
}

.dialog-header-confirm {
    background-color: #029DAD;
}

.modal-body {
    font-size: 14px;
    text-align: left;
}

.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 {
    color: #ffffff;
}

