<div class="myyilian">
    <div class="col-md-12 ml-20 font-13">
        <div class="tel-finish">
            <h3 class="font-orange">恭喜您，邮箱验证成功！</h3>
            <p>您可以使用该邮箱在易联物流旗下其他网站登录</p>
            <!--<div class="clearfix">-->
            <!--<span class="safety">目前安全级别： 低&emsp;</span>-->
            <!--<span class="safety safety-block bg-red"></span>-->
            <!--<span class="safety safety-block bg-red"></span>-->
            <!--<span class="safety safety-block"></span>-->
            <!--<span class="safety safety-block"></span>-->
            <!--</div>-->
            <p class="mt-10">完善更多信息确保更安全！</p>
            <p class="mt-10">
                <a href="/shipping/">返回</a>易联
            </p>
        </div>
    </div>
</div>