<div class="myyilian">
    <div class="nav-title">
        所在位置 -
        <a href="#/myyilian/index" class="font-gray">我的易联</a> -
        <a href="#/safety/index" class="font-gray">安全管理</a> -
        <span class="font-orange">修改手机号码</span>
    </div>
    <div class="row mt-20">
        <div class="col-md-2">
            <hls-include url="'views/myyilian/menu.html'"/>
        </div>
        <div class="col-md-9 ml-20 font-13">
            <ul class="clearfix">
                <li class="rectangle bg-f5">身份验证</li>
                <li class="triangle-f5"></li>
                <li class="jag"></li>
                <li class="rectangle bg-f5">手机修改</li>
                <li class="triangle-f5"></li>
                <li class="jag-pink"></li>
                <li class="rectangle bg-pink"><span class="font-orange">完成</span></li>
                <li class="triangle"></li>
            </ul>
            <div class="tel-finish">
                <h3 class="font-orange">恭喜您，手机验证成功！</h3>
                <p>您可以使用该手机号在易联物流旗下其他网站登录</p>
                <!--<div class="clearfix">-->
                <!--<span class="safety">目前安全级别： 低&emsp;</span>-->
                <!--<span class="safety safety-block bg-red"></span>-->
                <!--<span class="safety safety-block bg-red"></span>-->
                <!--<span class="safety safety-block"></span>-->
                <!--<span class="safety safety-block"></span>-->
                <!--</div>-->
                <p class="mt-10">完善更多信息确保更安全！</p>
            </div>
        </div>
    </div>
</div>