<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>互联速物流平台</title>
    <meta name="description" content=""/>
    <meta name="keywords" content="贸易宝 进销存系统 ERP系统 Ebay进销存 速卖通订单ERP 速卖通进销存 Amazon进销存 企业进销存定制 ERP系统定制 CpowerSoft.COM"/>
    <meta name="robots" content="index, follow"/>
    <link rel="shortcut icon" href="img/favicon.png">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=7Dj7oIqDRZ11omtI3luxTvkd"></script>
    <script data-main="baidu.js?ver=1.0.0.1" src="http://192.168.100.254/requirejs/require.js"></script>
</head>
<body class="index-body">
<div class="container text-center" ng-controller="indexCtrl">
    <br>
    <div class="row">
        <div class="text-left">
            <div class="col-md-2">
                <button class="btn btn-warning" ng-click="goToCompany()">
                    <span>去总部</span>
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-warning" ng-click="setMark()">
                    <span>设置标记点</span>
                </button>
                <span>{{centerText}}</span>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="address">
            </div>
            <div class="col-md-2">
                <button class="btn btn-info" ng-click="searchPoint()">
                    <span>通过地址找坐标</span>
                </button>
            </div>
        </div>
    </div>
    <br>
    <div id="allmap" style="width: 90%;height: 600px"></div>
</div>
</body>
</html>