<div class="container ng-scope" ng-controller="orderIndexCtrl">
    <div class="rew">
        <div class=" ml-15 mt-30 col-md-3">
            <div class="pv-10 font-18 font-bold " style=" border-bottom: 1px dashed #333;text-align:center">
              运单追踪
            </div>

            <div class="nav  lisebs">
                <ul role="menu" class="mv-20" >
                    <li class="font-14 pv-5 margin-10" style="background: #122b87;"> <a  style="color: #FFFFFF;" href="#/order/index">运单追踪</a></li>
                </ul>
            </div>
            <div style="width: 257px; margin-top: 20px;">
                <img src="/img/yilian_wacht.jpg" style="width: 100%; height: 100%;  margin-bottom: 20px;"/>
                <img src="/img/publicity-c.jpg" style="width: 100%; height: 100%;"/>

            </div>


        </div>
        <div class="col-md-8 ml-30 mt-10">
            <div  class=" mt-30 "><img src="/img/order.jpg" style="width: 100%; height: 100%"></div>

            <div class="col-md-12">
                <div class="mt-20 text-left">
                    &emsp;<span class="glyphicon glyphicon-search font-22 font-blue"></span>
                    <span style="letter-spacing:1px;" class="font-blue font-16">运单查询</span>
                </div>

                <div class="row" style="padding: 15px">
                    <div class="col-md-12">
                <textarea class="form-control" rows="4" style="resize: none; height: 180px"
                          placeholder="请输入你要查询的运单号" ng-model="waybill">

                </textarea>
                    </div>
                    <div style="margin-top:10px;" class="col-md-12 text-right" style="padding-left: 0px">
                        <a style="width:100px;" class="btn btn-warning " ng-click="inquire()">查询</a>
                    </div>
                </div>
                <div  class="row" ng-if="exist">
                    <div class="col-md-12">
                       <div style="height: 40px; border-bottom: 1px dashed #999"><span style="float: left;" class="font-20 font-bold">运单号：</span>
                           <p class="font-16 mt-5" style="color: #f0ad4e; float: left"><span ng-bind="order.code"></span></p>
                       </div>
                           <ul class="yundanul mt-20 font-16">
                                <li>
                                    <span class="glyphicon glyphicon-ok-sign">&nbsp;-------</span><br/>
                                    揽件成功</li>
                                <li>
                                    <span class="glyphicon glyphicon-ok-sign">&nbsp;-------</span><br/>
                                    运输中</li>
                                <li>
                                    <span class="glyphicon glyphicon-ok-sign ml-25">&nbsp;-------</span><br/>
                                    到达目的地</li>
                                <li style=" opacity: 0.4;">
                                    <span class="glyphicon glyphicon-ok-sign" >&nbsp;-------</span><br/>
                                    派送中</li>
                                <li style=" opacity: 0.4;">
                                    <span class="glyphicon glyphicon-ok-sign" ></span><br/>
                                    已签收 </li>

                            </ul>

                            <div  class="pb-15" style=" border-bottom: 1px dashed #666666">
                               <p class="font-16 font-bold margin-5">跟踪进度</p>
                                <ul class="ml-30 font-12 genzongul">
                                    <li ng-repeat="item in order.tracks">
                                        <div>
                                            运单状态：<span ng-bind="item.data"></span>
                                        </div>
                                        <div ng-show="item.address">
                                            运单位置：<span ng-bind="item.address"></span>
                                        </div>
                                        <div ng-show="item.tel">
                                            联系人电话：<span  ng-bind="item.tel"></span>
                                        </div>
                                        <div>
                                            <span ng-bind="getDateTime(item.time)"></span>
                                        </div>

                                    </li>

                                </ul>
                            </div>

                    </div>
                </div>
        </div>

        </div>
    </div>
  </div>
</div>