<div ng-controller="orderPaymentCtrl" class="font-14">

    <div class="payment-title" >
        <div>订单详情</div>
    </div>

    <div>
        <span style="color:#0BD209;font-size:18px;" class="fa  fa-check"></span>
        你在安全的环境中，请放心使用！
    </div>

    <div style="margin-top: 30px;">
        需支付：<span class="font-22 font-red"><b>￥{{info.totalPrices | number:2}}</b></span>
    </div>

    <div style="margin-top: 20px;">
        <b>订单编号：<span ng-bind="info.code" class="font-red"></span></b>

    </div>

    <div style="margin-top: 20px;">
        发货渠道：<span class="font-red" ng-bind="info.transportWayCName"></span>
    </div>


    <div class="clearfix" style="margin-top: 30px;">
        <div ng-click="affrimPayment(1)" style="margin-left:575px;" class="payment-img"><img src="/img/alipay.png" width="100" height="30"></div>
        <div ng-click="affrimPayment(2)" class="payment-img"><img src="/img/weixin.png" width="100" height="30"></div>
    </div>


    <div class="payment-foot" ></div>

</div>